*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: black;
    color: white;
}
p{
    background-color: aquamarine;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.cssli{
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
}
.contact li{
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
}
ul{
    text-decoration: none;
    text-align: center;
}
.me ul li{
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
}
.me ol li{
    display: inline-flex;
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
}
.in ol li{
    margin-right: 60px;
    display: inline-flex;
    margin-left: 20px;
    text-align: center;
    
}
